/dist
/tmp
/out-tsc
/node_modules
/coverage
/.angular/cache
.sass-cache/
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.DS_Store
Thumbs.db
.npmrc
*.tgz
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
